{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <h1>Collaboration Request</h1>
    <p>Fill out the form and we'll get back to you.</p>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="mb-3">
            {{ form.project_name.label_tag }}
            {{ form.project_name }}
            {{ form.project_name.errors }}
        </div>
        <div class="mb-3">
            {{ form.project_description.label_tag }}
            {{ form.project_description }}
            {{ form.project_description.errors }}
        </div>
        <button class="btn btn-primary" type="submit">Send request</button>
    </form>
</div>
{% endblock content %}
